@model IEnumerable<ExchangeRateDTO.Currency>


@{
    ViewBag.Title = "Index";
}

<body>
<h2>List of known currencies</h2>
 <h3>These rates are based on the Swiss Francs (CHF)</h3>
<p>
    @Html.ActionLink("Add new currency", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>

            @{ 

                string imageSource = "http://x-rates.com/themes/x-rates/images/flags/" + item.Name.ToString().ToLower() + ".png";
              
            }
            
            <img src=@imageSource alt="@item.Name"/>
            @Html.DisplayFor(modelItem => item.Name).ToString().ToUpper()
            
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @if (item.Statut.Equals("Increasing"))
            {
                <img width="3%" height="3%" src="~/Image/rising.png" alt="rising" />
            }
            else if (item.Statut.Equals("Decreasing"))
            {
                <img width="3%" height="3%" src="~/Image/dropping.png" alt="rising" />
            }
            else if (item.Statut.Equals("Stable"))
            {
                <img width="3%" height="3%" src="~/Image/stable.png" alt="rising" />
            }


        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
    </body>
